<%= form_with model: ChatMessage.new,
              url: chat_room_chat_messages_path(chat_room),
              method: :post, local: false do |f| %>

  <div class="form-group">
    <%= f.hidden_field :from, value: username %>
    <%= f.text_area :body, class: 'form-control', maxlenght: 250,
                    'data-submit-on-enter' => true %>
  </div>

  <%= f.submit :Post, class: 'btn btn-primary' %>
<% end %>

